/*Characters*/
.char-p {
    font-size: 20px;
    font-family: $fontRoboto;
    color: $white;
}
.bold {
    font-weight: bolder;
}
.characters-img {
    box-shadow: 0px 0px 10px $cyan;
    border-radius: 12px;
    width: 60%;
}