/*Footer*/
footer {
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 0.5%;
    background-color: black;
    border-top: 4px solid #dc3545;
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer img {
    margin: 10px;
    width: 5%;
}
footer a {
    padding: 0.5%;
    display: inline-block;
    font-size: 3rem;
    animation: float 4s ease-in-out infinite;
}
.fa-instagram {
    background: radial-gradient(circle at 30% 107%, #feda75 5%, #feda75 5%, #fa7e1e 45%, #d62976 45% );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.fa-facebook {
    color: #4267B2;
}
.fa-twitter {
    color: #1DA1F2;
}

@keyframes float {
    0% {
        transform: translateY(0);   
}
    50% {
        transform: translateY(-15px);   
}
    100% {
        transform: translateY(0);
}
}
