/*Footer*/
footer {
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 0.5%;
    background-color: $black;
    border-top: 4px solid $red;
    grid-area: footer;
    @include flex-center;
}
footer img {
    margin: 10px;
    width: 5%;
}
footer a {
    padding: 0.5%;
    display: inline-block;
    font-size: 3rem;
    animation: float 4s ease-in-out infinite;
}
.fa-instagram {
    background: map-get($socialmedia, instagram);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.fa-facebook {
    color: map-get($socialmedia, facebook);
}
.fa-twitter {
    color: map-get($socialmedia, twitter);
}

@keyframes float {
    0% {
        transform: translateY(0);   
}
    50% {
        transform: translateY(-15px);   
}
    100% {
        transform: translateY(0);
}
}
