/*Home*/
.raidenvideo {
    width: 100%;
    background-size: cover;
}
.mgrvideos {
    width: 50%;
    height: 20%;
}
.index-title {
    font-family: $fontRoboto;
}
.index-sec-p {
    font-family: $fontRoboto;
    color: $white;
}
.imgpng {
    width: 60%;
    height: 20%;
}
.imgbosses {
    width: 70%;
    height: 20%;
}
.blademode {
    width: 50%;
    height: 30%;
}
