$black: black;
$white: whitesmoke;
$cyan: #61C9C9;
$red: #dc3545;

$fontRoboto: 'Roboto', sans-serif;
$fontRubik: 'Rubik', sans-serif;

$socialmedia:(
    instagram : radial-gradient(circle at 30% 107%, #feda75 5%, #feda75 5%, #fa7e1e 45%, #d62976 45%),
    facebook : #4267B2,
    twitter : #1DA1F2,
)
